@model List<ResultBookDto>

<section id="popular-books" class="bookshelf py-5 my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="section-header align-center">
						<div class="title">
							<span>Son Eklenen Kitaplar</span>
						</div>
						<h2 class="section-title">Popüler Kitaplar</h2>
					</div>

					<ul class="tabs">
						<li data-tab-target="#all-genre" class="active tab">Tüm Kitaplar</li>
						<li data-tab-target="#macera" class="tab">Macera</li>
						<li data-tab-target="#teknoloji" class="tab">Teknoloji</li>
						<li data-tab-target="#yaşam" class="tab">Yaşam</li>
						<li data-tab-target="#sağlık" class="tab">Sağlık</li>
						<li data-tab-target="#aksiyon" class="tab">Aksiyon</li>
						<li data-tab-target="#polisiye" class="tab">Polisiye</li>
						<li data-tab-target="#aşk" class="tab">Aşk</li>
						<li data-tab-target="#akademi" class="tab">Akademi</li>
						<li data-tab-target="#yazılım" class="tab">Yazılım</li>
					</ul>

					<div class="tab-content">
						
						<div id="all-genre" data-tab-content class="active">
							<div class="row">
								@foreach (var item in Model){
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											</figure>
											<figcaption>
												<h3>@item.Title</h3>
												<span>@item.Author</span>
												<div class="item-price">$ @item.Price</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>

						<div id="macera" data-tab-content>
							<div class="row">
								@foreach (var item in Model.Where(x => x.CategoryName == "Macera")){
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											</figure>
											<figcaption>
												<h3>@item.Title</h3>
												<span>@item.Author</span>
												<div class="item-price">$ @item.Price</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>

						<div id="teknoloji" data-tab-content>
							<div class="row">
								@foreach (var item in Model.Where(x => x.CategoryName == "Teknoloji")){
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											</figure>
											<figcaption>
												<h3>@item.Title</h3>
												<span>@item.Author</span>
												<div class="item-price">$ @item.Price</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>

						<div id="yaşam" data-tab-content>
							<div class="row">
								@foreach (var item in Model.Where(x => x.CategoryName == "Yaşam")){
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											</figure>
											<figcaption>
												<h3>@item.Title</h3>
												<span>@item.Author</span>
												<div class="item-price">$ @item.Price</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>

						<div id="sağlık" data-tab-content>
							<div class="row">
								@foreach (var item in Model.Where(x => x.CategoryName == "Sağlık")){
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											</figure>
											<figcaption>
												<h3>@item.Title</h3>
												<span>@item.Author</span>
												<div class="item-price">$ @item.Price</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>

						<div id="aksiyon" data-tab-content>
							<div class="row">
								@foreach (var item in Model.Where(x => x.CategoryName == "Aksiyon")){
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											</figure>
											<figcaption>
												<h3>@item.Title</h3>
												<span>@item.Author</span>
												<div class="item-price">$ @item.Price</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>

						<div id="polisiye" data-tab-content>
							<div class="row">
								@foreach (var item in Model.Where(x => x.CategoryName == "Polisiye")){
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											</figure>
											<figcaption>
												<h3>@item.Title</h3>
												<span>@item.Author</span>
												<div class="item-price">$ @item.Price</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>

						<div id="aşk" data-tab-content>
							<div class="row">
								@foreach (var item in Model.Where(x => x.CategoryName == "Aşk")){
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											</figure>
											<figcaption>
												<h3>@item.Title</h3>
												<span>@item.Author</span>
												<div class="item-price">$ @item.Price</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>

						<div id="akademi" data-tab-content>
							<div class="row">
								@foreach (var item in Model.Where(x => x.CategoryName == "Akademi")){
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											</figure>
											<figcaption>
												<h3>@item.Title</h3>
												<span>@item.Author</span>
												<div class="item-price">$ @item.Price</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>

						<div id="yazılım" data-tab-content>
							<div class="row">
								@foreach (var item in Model.Where(x => x.CategoryName == "Yazılım")){
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<img src="@item.ImageUrl" alt="Books" class="product-item">
												<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
													Add to Cart
												</button>
											</figure>
											<figcaption>
												<h3>@item.Title</h3>
												<span>@item.Author</span>
												<div class="item-price">$ @item.Price</div>
											</figcaption>
										</div>
									</div>
								}
							</div>
						</div>

					</div>
				</div><!--inner-tabs-->
			</div>
		</div>
	</section>